<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Giới hạn kích thước file upload -->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
				<!-- 100 MB -->
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
